#navigation nav {
    list-style: none;
    display: flex;
    flex-direction: column;
 }

 #navigation nav h1 {
    color: #00221F;
    text-decoration: none;
    font-family: 'Aldrich', sans-serif;
    width: fit-content;
    margin: 0px 0px 10px 0px;
}

#navigation nav a {
    text-decoration: none;
    color: #6FF6DB;
    width: fit-content;
}

#navigation nav a:hover {
    color: #0D7666;
    padding: 10px;
    border-right: 2px solid #0D7666;
    border-bottom: 2px solid #0D7666;
    border-radius: 130px;
}
