
body {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2230 0%, #00221F 100%);
    display: flex;
    justify-content: center;
}

#body-middle {
    background-color: #599D7E;
    flex-basis: 900px;
    max-width: 900px;
    min-width: 450px;
    border: 20px double #00221F;
    padding: 15px;
}


