article section {
    background-color: #00221F;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border: 10px double #599D7E;
}

article section:nth-child(even) {
    color: #599D7E;
}

article section h2 {
    font-family: 'Aldrich', sans-serif;
    color: #6FF6DB;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: -10px;
}

article section h2:hover {
    color: #6FF6DB;
    font-size: 1.7rem;
    font-family: 'Special Elite', cursive;
}

article section h5 {
    text-align: right;
    margin: 0px;
}

article section h5 a {
    text-decoration: none;
    font-family: 'Aldrich', sans-serif;
    color: #6FF6DB;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
}

article section h5 a:hover {
    text-decoration: none;
    color: #599D7E;
}


article section h2:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1800ms infinite;
    animation: ellipsis steps(4, end) 1800ms infinite;
    content: "\2026";
    width: 0px;
    /* ascii code for ellipsis character */
}

@keyframes ellipsis {
    to {
        width: 1.25rem;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25rem;
    }
}